*,
*::before,
*::after {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
}

.app {
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
